<ion-header>
  <ion-toolbar color='danger'>
    <ion-title>Supreme Wisdom</ion-title>
    <ion-buttons (click)="auth.logout()" slot='end'>
      <ion-icon slot="icon-only" name="lock-closed-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item item-end *ngFor='let book of menuData' (click)='handleBookClick(book.lessonName)'>
      <h4>{{book.lessonName}}</h4>
      <ion-icon slot="icon-only" name="chevron-forward-outline" color='danger' slot='end'></ion-icon>
    </ion-item>
  </ion-list> -->
  <ion-list>
    <ion-item (click)='handleFactsClick()'>
      <h4>Actual Facts</h4>
      <ion-icon slot="icon-only" name="chevron-forward-outline" color='danger' slot='end'></ion-icon>
    </ion-item>
    <ion-item item-end (click)='handleBookClick("Student Enrollment")'>
      <h4>Student Enrollment</h4>
      <ion-icon slot="icon-only" name="chevron-forward-outline" color='danger' slot='end'></ion-icon>
    </ion-item>
    <ion-item item-end (click)='handleBookClick("Lesson No. 1")'>
      <h4>Lesson No. 1</h4>
      <ion-icon slot="icon-only" name="chevron-forward-outline" color='danger' slot='end'></ion-icon>
    </ion-item>
    <ion-item item-end (click)='handleBookClick("Lesson No. 2")'>
      <h4>Lesson No. 2</h4>
      <ion-icon slot="icon-only" name="chevron-forward-outline" color='danger' slot='end'></ion-icon>
    </ion-item>
    <ion-item item-end (click)='handleBookClick("The Problem Book")'>
      <h4>The Problem Book</h4>
      <ion-icon slot="icon-only" name="chevron-forward-outline" color='danger' slot='end'></ion-icon>
    </ion-item>
    <ion-item (click)='handleEnglishClick()'>
      <h4>English Lesson C No. 1</h4>
      <ion-icon slot="icon-only" name="chevron-forward-outline" color='danger' slot='end'></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

