<ion-header>
  <ion-toolbar color='danger'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Actual Facts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <ol>
    <li *ngFor='let fact of facts'>{{fact.quesans}}</li>
  </ol>
</ion-content>
