<ion-header>
  <ion-toolbar color='danger'>
    <ion-buttons (click)="closeModel()" slot='end'>
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-buttons>
    <ion-title>{{lesson.lessonName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="myPadding">
    <h3 *ngIf="problems; else showReg">Problem No. {{lesson.quesno}}</h3>

    <ng-template #showReg>
      <h3>Question No. {{lesson.quesno}}</h3>
    </ng-template>
    <p [innerHTML] = lesson.quesans></p>
  </div>
</ion-content>