<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <pre *ngIf="auth.userProfile$ | async as profile">
    <code>{{ profile | json }}</code>
  </pre>
  <p><ion-button (click)="auth.logout()" *ngIf="auth.loggedIn" color="danger" expand="block" round strong>Logout</ion-button></p>
  <p>{{ menuData | json }}</p>
</ion-content>
  
<!-- ///05b590f501d57c781e77036518cde4f979beab9f81c73769936d57d75ea153b8 -->