<ion-header>
  <ion-toolbar color='danger'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="medium">
      {{lessonShow[0].lessonName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item item-end *ngFor='let lesson of lessonShow' (click)="presentLessonDetail(lesson)">
      <p *ngIf="problems; else showReg">
        Problem No. {{lesson.quesno}}
      </p>
      <ng-template #showReg>
        <p>Question No. {{lesson.quesno}}</p>
      </ng-template>
      <ion-icon slot="icon-only" name="chevron-forward-outline" color='danger' slot='end'></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
