<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large" color='danger'>Supreme Wisdom</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color='danger'>Supreme Wisdom</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <div>
      <img src="../../assets/images/flag_of_islam.png" />
      <h1>Supreme Wisdom</h1>
      <p><ion-button (click)="auth.login()" *ngIf="!auth.loggedIn" color="danger" expand="block" round strong>Login</ion-button></p>
      <p><ion-button (click)="auth.logout()" *ngIf="auth.loggedIn" color="danger" expand="block" round strong>Logout</ion-button></p>
      <p><ion-button routerLink="/profile" *ngIf="auth.loggedIn" color="danger" expand="block" round strong>Profile</ion-button></p>
    </div>
  </div>
</ion-content>
